<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affine Cipher</title>
</head>
<body>
    <div align = "center">
        <h1>Affine Cipher</h1>
        <br><ha></ha></br>
    </div>
    <form action = "/affine" method = "post" name = "affineForm">
        <div align = "center">
            Multiplier:
            <input name = "multiplier" type = "number" placeholder="Enter multiplier" />
            Offset: 
            <input name = "offset" type = "number" placeholder="Enter offset" />
            <br><ha>
            </ha></br>
        </div>
        <div name = "name" align = "center">
            <input name = "message" type = "text" placeholder="Enter message" />
            <br><ha>
            </ha></br>
        </div>
        <div align = "center">
            <button type = "submit" name = "operation" value = "Encrypt">Encrypt</button>
            <button type = "submit" name = "operation" value = "Decrypt">Decrypt</button>
        </div>
        <br><ha>
        </ha></br>
        <div align = "center">
            {{.}}
            <br><ha>
            </ha></br>
        </div>

    </form>
</body>
</html>