<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atbash Cipher</title>
</head>
<body>
    <div align = "center">
        <h1>Atbash Cipher</h1>
    </div>
    <form action = "/atbash" method = "post">
        <div align = "center">
            Message: 
            <input type = "text" name = "message" placeholder="Enter message" />
            <br><br><br>
        </div>
        <div align = "center">
            <button type = "submit" value = "EncAndDec" name = "operation">Encrypt</button>
            <button type = "submit" value = "EncAndDec" name = "operation">Decrypt</button>
            <br><br><br>
        </div>
    </form>
    <div align = "center">
        {{.}}
    </div>
</body>
</html>