<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baconian Cipher</title>
</head>
<body>
    <div align = "center">
        <h1>Baconian Cipher</h1>
    </div>

    <form action = "/baconian" method= "post">
        <div align = "center">
            Message: 
            <input name = "message" type = "text" placeholder="Enter message" /><br><br><br> 
        </div>
        <div align = "center">
            <button type = "submit" name = "operation" value = "Encrypt">Encrypt</button>
            <button type = "submit" name = "operation" value = "Decrypt">Decrypt</button>
        </div>
    </form>
    <br><ha>
    </ha></br>
    <div align = "center">
        {{.}}
    </div>


</body>
</html>