<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caesar Cipher</title>
</head>
<body>
    <div align = "center">
        <h1>Caesar Cipher</h1>
    </div>
    <form action = "/caesar" method="post">
        <div align = "center">
            Message: 
            <input type = "text" name = "message" placeholder="Enter message" />
            <br><br>
            Offset:
            <input type = "number" name = "offset" placeholder="Enter offset" />
            <br><br>
        </div>
        <div align = "center">
            <button type = "submit" name = "operation" value = "Encrypt">Encrypt</button>
            <button type = "submit" name = "operation" value = "Decrypt">Decrypt</button>
        </div>
        <br><br><br>
        <div align = "center">
            {{.}}

        </div>

    </form>
</body>
</html>