<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <div align = "center">
        <h1>Classical Cryptography</h1>
    </div>
    <a href = "/affine">Affine Cipher</a><br>
    <a href = "/atbash">Atbash Cipher</a><br>
    <a href = "/autokey">Autokey Cipher</a><br>
    <a href = "/baconian">Baconian Cipher</a><br>
    <a href = "/beaufort">Beaufort Cipher</a><br>
    <a href = "/caesar">Caesar Cipher</a><br>
    <a href = "/coltrans">Columnar Transposition Cipher</a><br>
    <a href = "/foursquare">Four Square Cipher</a><br>
</body>
</html>